html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #1d2e28;
    background: url('https://wallpapers.com/images/hd/dark-wood-background-2000-x-1333-06dbtubnqaizwphc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    flex: 1;
}

h2 {
    margin-bottom: 20px;
}

/* Top Bar */
.top-bar {
    background-color: #444;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
}

.top-bar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.top-bar .icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-bar img {
    width: 30px;
    height: 30px;
}

.top-bar img[alt] {
    cursor: pointer;
}

/* Navigation */
nav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    position: relative;
    margin-right: 10px;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    
}

nav ul li a:hover {
    background-color: #ddd;
    color: black;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 150px;
}

nav ul li ul li a {
    padding: 10px;
}

nav input[type="text"] {
    padding: 6px;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 4px;
    margin-left: auto;
}

/* Login Container */
.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Footer */
.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
